---
const title: string = "Onax - Building things";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title={title}>
  <h3 style="background-color:var(--green);">Onaefe's blog</h3>
</BaseLayout>
