---
import "../styles/global.css";
const navItems =[
  { path: '/',label:'Home'},
  { path: '/about',label:'About'},
  { path: '/blog',label:'Blog'}
]
---

<div class="nav-links">
  {navItems.map(i=>(<a href={i.path} style="cursor:pointer;">{i.label}</a>))}
</div>